@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html,
body {
  @apply h-full;
}

body {
 @apply bg-melon-800 text-rosy_brown-200;

 /* @apply bg-no-repeat bg-fixed bg-left-top bg-gradient-to-b from-melon-500 to-melon-900 text-rosy_brown-200; */

  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Default Focus states for all clickable elements */

*:focus,
*::before:focus,
*::after:focus {
  @apply focus:outline-none focus:ring-4 focus:ring-melon-600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-anek;
}
