@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html,
body {
  @apply h-full;
}

body {
  @apply bg-melon-800 text-rosy_brown-200;

  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Default Focus states for all clickable elements */

*:focus,
*::before:focus,
*::after:focus {
  @apply focus:outline-none focus:ring-4 focus:ring-melon-600;
}
